@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{font-family: Poppins;}

.slider{overflow: hidden;}
		.slider figure
		{
			position: relative;
			width: 500%;
			max-height: 60%;
			margin: 0;
			left: 0;
			margin-top: 4%;
			animation: 20s slider infinite;
		}
		
		.slider img{height: 500px;}
		
		.slider figure img
		{
			float: left;
			width: 20%;
		}
		
		@keyframes slider
		{
		0%{left: 0}
		20%{left: 0}
		25%{left: -100%}
		45%{left: -100%}
		50%{left: -200%}
		70%{left: -200%}
		75%{left: -300%}
		95%{left: -300%}
		100%{left: -400%}
		}

.About h1
{
	background-color: #FFBF00;
	padding:15px;
	text-align: center;
	font-size: 50px;
}

.About p
{
	background-color: #FFBF00;
	padding-bottom:15px;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
}

.paragraph{padding: 3% 15%;}


	.paragraph
	{
		text-align: justify;
		font-size: 20px;
	}